[Unit]
Description=Timeline Python Service
After=network.target

[Service]
Type=simple
User=jan
WorkingDirectory=/volume1/web/timeline

ExecStart=/volume1/web/timeline/.venv/bin/python /volume1/web/timeline/timeline.py

Restart=always
RestartSec=10

StandardOutput=append:/volume1/web/timeline/timeline_stdout.log
StandardError=append:/volume1/web/timeline/timeline_stderr.log

Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target