[Service]
Type=simple
User=jan
WorkingDirectory=/volume1/web/timeline

ExecStart=/volume1/web/timeline/.venv/bin/python /volume1/web/timeline/timeline.py

Restart=always
RestartSec=10

StandardOutput=journal
StandardError=journal

Environment=PYTHONUNBUFFERED=1
